html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family:'LibreBaskerville', Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #000;
	background-color: #EEE;
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}
@media (max-width: 999px) {
 body {
	display: none;
 }
}
h1 {
	font-size: 26px;
	margin: 30px 0;
	text-align:left;
	color: #000;
	font-weight:lighter;
}
h2 {
	font-size: 26px;
	margin: 0 auto;
	text-align:center;
	color: #000;
	font-weight:lighter;
}
b {
	font-weight: bold;
}
small {
	font-size: 11px;
}
p {
	padding: 15px 15px 0 15px;
}
a {
	color:blue;
	text-decoration: none;
}
a:hover {
	color: #474747;
	text-decoration: underline;
}
i {
	font-style: italic;
}